<% if (messages.lendSuccess) { %>
    <p class="text-green-500"><%= messages.lendSuccess %></p>
<% } %>
<% if (messages.returnSuccess) { %>
    <p class="text-green-500"><%= messages.returnSuccess %></p>
<% }%>
<% if (messages.returnFailed) { %>
    <p class="text-red-500"><%= messages.returnFailed %></p>
<% }%>

<div class="flex items-center mb-8 justify-between max-w-xl">
    <h1 class="text-3xl">Lending List</h1>

    <div class="inline-flex items-center bg-sky-200 rounded-md border border-black">        
        <button type="button" class="flex flex-col justify-center px-1" onclick="searchLending()">
            <ion-icon name="search-outline" class="text-lg hover:cursor-pointer hover:text-blue-900 transition-all ease-in"></ion-icon>
        </button>
        
        <input type="text" name="title" id="search-lending-input" class="px-2 border-l border-r border-black disabled:bg-gray-200"></input>
        
        <button type="button" class="flex flex-col justify-center" onclick="resetSearchLending()">
            <ion-icon name="close-outline" class="text-2xl  hover:cursor-pointer hover:text-blue-900 transition-all ease-in"></ion-icon>
        </button>
    </div>
</div>

<div id="lending-list-container">
<% lends.forEach(lend => { %>
    <div class="mb-5 lending-data-container" data-lendid="<%= lend._id %>" data-book="<%= lend.book.title %>" data-lender="<%= lend.lender.name %>">
        <div class="flex bg-sky-200 p-4 rounded-md max-w-xl">
            <div class="flex flex-col items-center">
                <img src="<%= lend.book.coverImageRender %>" alt="<%= lend.book.title %> book cover image" class="h-40  w-32 mb-3">

                <form action="/user/lending" method="post">
                    <input type="text" name="lendId" value="<%= lend._id %>" hidden>
                    <input type="text" name="bookId" value="<%= lend.book._id %>" hidden>
                    <input type="text" name="lenderId" value="<%= lend.lender._id %>" hidden>
                    <button type="submit" class="bg-green-300 px-2 py-1 w-full rounded-md border border-black hover:cursor-pointer hover:bg-green-400 transition-all ease-in" onclick="return confirm('Are you sure want to return this book')">Return</button>
                </form>
            </div>

            <div class="text-lg w-full ml-4">
                <p class="border-b border-black mb-2">Lend id : <%= lend._id %></p>

                <p class="border-b border-black mb-2">Book : <a href="/user/books/<%= lend.book._id %>" class="text-blue-600"><%= lend.book.title %></a></p>

                <p class="border-b border-black mb-2">Lender : <a href="/user/members/<%= lend.lender._id %>" class="text-blue-600"><%= lend.lender.name %></a></p>

                <p class="border-b border-black mb-2">Lend date : <%= lend.date.toDateString() %></p>
                
                <p class="border-b border-black mb-2">Remaining days of lend time : <%= lend.remainingLendingTime %></p>

                <p class="border-b border-black mb-2">Num of books lended : <%= lend.book.lenderNum %> / <%= lend.book.quantity %></p>
            </div>
        </div>
    </div>
 
<% }) %>
</div>
