<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustakaku</title>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>

    <!-- Tailwind -->
    <link rel="stylesheet" href="/stylesheets/tailwind-output.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">

    <style>
        *, *::after, *::before{
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body class="bg-sky-50 max-w-screen">
    <%- include('../partials/staff-navbar.ejs') %>

    <div class="max-w-5xl px-10 py-7 mx-auto">
        <%- body %>
    </div>

    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="/javascripts/FileUpload.js"></script>

    <!-- icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- ejs -->
    <!-- <script src="/views/layouts/ejs.min.js"></script> -->

    <script>
        function toggleMenu(e){
            const menu = document.querySelector('#menu')
            if(e.name == 'menu-outline'){
                menu.classList.add('top-[44px]')
                menu.classList.remove('opacity-0')
                e.name = 'close-outline'
            }else if(e.name == 'close-outline'){
                menu.classList.remove('top-[44px]')
                menu.classList.add('opacity-0')
                e.name = 'menu-outline'
            }
        }
    </script>

    <!-- Lending page -->
    <script>
        // Choose book functionality
        const searchBookInput = document.getElementById('search')

        searchBookInput.addEventListener('keypress', function(event) {
            if(event.keyCode === 13){
                filterBooks()
            }
        })

        function chooseBook(e){
            // Change choose book ui
            const {id, title, imgrender, author, publishdate} = e.dataset
            const booksContainer = document.getElementById('books-container')
            booksContainer.innerHTML = `
                <div class="flex items-center">
                    <img src="${imgrender}" class="h-80 mr-3">

                    <div class="flex flex-col md:flex-row items-start md:items-center">
                        <div class="mb-5 mr-4 *:mb-2 *:break-all">
                            <p><span class="font-semibold">Id: </span>${id}</p>
                            <p><span class="font-semibold">Title: </span>${title}</p>
                            <p><span class="font-semibold">Author: </span>${author}</p>
                            <p><span class="font-semibold">Publish date: </span>${publishdate}</p>
                        </div>

                        <button onclick="cancelChooseBook()" class="px-2 rounded-md border border-black bg-red-400 hover:bg-red-500 transition-all ease-in">Cancel</button>
                    </div>
                </div>
            `

            // Add choosen book id to form input as value
            const bookId = document.getElementById('book-id')
            bookId.value = id
        }

        function cancelChooseBook(){
            // Change choose book ui
            const booksContainer = document.getElementById('books-container')
            booksContainer.innerHTML = `
                <% books.forEach(book => { %>
                    <button onclick="chooseBook(this)" data-imgRender="<%= book.coverImageRender %>" data-id="<%= book._id %>" data-title="<%= book.title %>" data-author="<%= book.author.name %>" data-publishdate="<%= book.publishDate.toISOString().split('T')[0] %>" class="book-button">
                        <img src="<%= book.coverImageRender %>" class="h-52">
                    </button>
                <% }) %>
            `

            // Remove choosen book id in input value
            const bookId = document.getElementById('book-id')
            bookId.value = ''
        }

        function filterBooks(){
            cancelChooseBook()
            const titleFilter = document.getElementById('search').value
            const bookButtons = document.querySelectorAll('.book-button')
                    
            bookButtons.forEach(bookButton => {
                const title = bookButton.dataset.title.toLowerCase()

                if(!title.includes(titleFilter)){
                    bookButton.classList.add("hidden")
                }else{
                    bookButton.classList.remove("hidden")
                }
            });

        }

        function resetFilter(){
            document.querySelector('#search').value = ''
            cancelChooseBook()
        }

        // Choose lender functionality
        const searchLenderInput = document.getElementById('search-lender')

        searchLenderInput.addEventListener('keypress', function(event) {
            if(event.keyCode === 13){
                searchLender()
            }
        })

        function chooseLender(e){
            // Update choose lender ui
            const {id, name, email} = e.dataset
            const membersContainer = document.getElementById('member-list-container')
            membersContainer.innerHTML = `
                <div class="flex items-center">
                    <ion-icon name="person-outline" class="text-8xl border-2 border-black p-3 mb-3"></ion-icon>

                    <div class="ml-5">
                        <p class="text-lg border-b border-b-black mb-3">Name : ${name}</p>
                        <p class="text-lg border-b border-b-black mb-3">Id : ${id}</p>
                        <p class="text-lg border-b border-b-black mb-3">Email : ${email}</p>
                        <p class="text-lg border-b border-b-black mb-3">Num books lend currently : 2</p>
                    </div>

                    <button onclick="cancelChooseLender()" class="ml-5 px-2 rounded-md border border-black bg-red-400 hover:bg-red-500 transition-all ease-in">Cancel</button>
                </div>
            `

            // Add choosen lender id to input value
            const lenderId = document.getElementById('lender-id')
            lenderId.value = id
        }

        function cancelChooseLender(){
            // Update choose lender ui
            membersContainer = document.getElementById('member-list-container')
            membersContainer.innerHTML = `
                <% members.forEach(member => { %>
                    <btn class="lender-button btn flex items-center hover:bg-sky-300 hover:cursor-pointer px-2 py-1 rounded-md max-w-xl mt-3" data-id="<%= member._id %>" data-name="<%= member.name %>" data-email="<%= member.email %>" onclick="chooseLender(this)">
                        <div class="min-w-36">
                            <ion-icon name="person-outline" class="text-5xl"></ion-icon>
                        </div>
                        
                        <div class="w-48">
                            <p class="text-left"><%= member.name %></p>
                            <p class="text-left text-sm"><%= member.email %></p>
                        </div>
                        
                        <p class=""><%= member._id %></p>
                    </btn>
                <% }) %>
            `

            // Remove choosen lender id to input value
            const lenderId = document.getElementById('lender-id')
            lenderId.value = ''
        }

        function searchLender(){
            cancelChooseLender()
            const searchKey = document.getElementById('search-lender').value
            const lenderButtons = document.querySelectorAll('.lender-button')
                    
            lenderButtons.forEach(lenderButton => {
                const name = lenderButton.dataset.name.toLowerCase()

                const id = lenderButton.dataset.id.toLowerCase()

                const email = lenderButton.dataset.email.toLowerCase()

                if(!name.includes(searchKey) && !id.includes(searchKey) && !email.includes(searchKey)){
                    lenderButton.classList.add("hidden")
                }else{
                    lenderButton.classList.remove("hidden")
                }
            });

        }

        function cancelSearchLender(){
            document.querySelector('#search-lender').value = ''
            cancelChooseLender()
        }

        // Check if user has choose book and lender
        function validateLendingForm(){
            const bookInput = document.getElementById('book-id')
            const lenderInput = document.getElementById('lender-id')

            if(bookInput.value === '' || lenderInput.value === ''){
                alert('Please choose book and lender')
                return false
            }else{
                return true
            }
        }
    </script>

</body>
</html>