<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustakaku</title>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>

    <!-- Tailwind -->
    <link rel="stylesheet" href="/stylesheets/tailwind-output.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">

    <style>
        *, *::after, *::before{
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body class="bg-sky-50 max-w-screen">
    <%- include('../partials/staff-navbar.ejs') %>

    <div class="max-w-5xl px-10 py-7 mx-auto">
        <%- body %>
    </div>

    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="/javascripts/FileUpload.js"></script>

    <!-- icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- ejs -->
    <script src="/views/layouts/ejs.min.js"></script>

    <!-- <script src="
https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js
"></script> -->

    <!-- custom script -->
    <script>
        function toggleMenu(e){
            const menu = document.querySelector('#menu')
            if(e.name == 'menu-outline'){
                menu.classList.add('top-[44px]')
                menu.classList.remove('opacity-0')
                e.name = 'close-outline'
            }else if(e.name == 'close-outline'){
                menu.classList.remove('top-[44px]')
                menu.classList.add('opacity-0')
                e.name = 'menu-outline'
            }
        }


        // New lending script
        const searchBookInput = document.getElementById('search')

        searchBookInput.addEventListener('keypress', function(event) {
            if(event.keyCode === 13){
                filterBooks()
            }
        })

        function chooseBook(e){
            const {id, title, imgrender, author, publishdate} = e.dataset
            const booksContainer = document.getElementById('books-container')
            booksContainer.innerHTML = `
                <div class="flex items-center">
                    <img src="${imgrender}" class="h-80 mr-3">

                    <div class="flex flex-col md:flex-row items-start md:items-center">
                        <div class="mb-5 mr-4 *:mb-2 *:break-all">
                            <p><span class="font-semibold">Id: </span>${id}</p>
                            <p><span class="font-semibold">Title: </span>${title}</p>
                            <p><span class="font-semibold">Author: </span>${author}</p>
                            <p><span class="font-semibold">Publish date: </span>${publishdate}</p>
                        </div>

                        <button onclick="cancelChooseBook()" class="px-2 rounded-md border border-black bg-red-400 hover:bg-red-500 transition-all ease-in">Cancel</button>
                    </div>
                </div>
            `
        }

        function cancelChooseBook(){
            const booksContainer = document.getElementById('books-container')
            booksContainer.innerHTML = `
                <% books.forEach(book => { %>
                    <button onclick="chooseBook(this)" data-imgRender="<%= book.coverImageRender %>" data-id="<%= book._id %>" data-title="<%= book.title %>" data-author="<%= book.author.name %>" data-publishdate="<%= book.publishDate.toISOString().split('T')[0] %>" class="book-button">
                        <img src="<%= book.coverImageRender %>" class="h-52">
                    </button>
                <% }) %>
            `
        }

        function filterBooks(){
            cancelChooseBook()
            const titleFilter = document.getElementById('search').value
            const bookButtons = document.querySelectorAll('.book-button')
                    
            bookButtons.forEach(bookButton => {
                const title = bookButton.dataset.title.toLowerCase()

                if(!title.includes(titleFilter)){
                    bookButton.classList.add("hidden")
                }else{
                    bookButton.classList.remove("hidden")
                }
            });

        }

        function resetFilter(){
            document.querySelector('#search').value = ''
            cancelChooseBook()
        }

    </script>
</body>
</html>