<a href="/member/books" class="text-blue-500 hover:text-blue-700">&larr; back to books listing</a>


<h1 class="text-3xl"><%= book.title %></h1>

<div class="block mt-2 mb-3">
    <img src="<%= book.coverImageRender %>" class="h-80 mr-3 mb-3 float-left">
    
    <p><b>Author : </b> 
        <a href="/member/authors/<%= book.author._id %>" class="text-blue-500 hover:text-blue-700 underline"><%= book.author.name %></a>
    </p>

    <p><b>Number of all books : </b> <span><%= book.quantity %></span></p>

    <p><b>Number of books available : </b><span class="text-green-600">3</span></p>
    
    <% if (book.lendBy.length != 0) { %>
        <p><b>Book lender : </b>
            <% book.lendBy.forEach(lender => { %>
                <span><%= lender %></span>
            <% }) %>
        </p>
    <% } %>

    <p><b>Page count : </b><%= book.pageCount %></p>

    <p><b>Publish date : </b><%= book.publishDate.toDateString() %></p>
    
    <p><b>Description : </b><%= book.description %></p>
</div>

<div class="clear-left flex *:mr-2">
    <a href="#" class="px-2 bg-sky-300 rounded-md border border-black hover:bg-sky-400 transition-all ease-in">Lend this book</a>

    <a href="#" class="px-2 bg-sky-300 rounded-md border border-black hover:bg-sky-400 transition-all ease-in">Read e-book</a>
</div>