<a href="/user" style="margin-right: 15px;">Back to dashboard</a>
<a href="/user/members/add">Add new member</a>
<h1>Members Listing</h1>
<form action="/user/members" method="get">
    <h3>Search</h3>
    <div class="input-item">
        <label for="name">Name : </label>
        <input type="text" name="name" id="name">
    </div>

    <div class="input-item">
        <a href="/user/members" class="btn">Cancel</a>
        <button type="submit" class="btn btn-danger">Search</button>
    </div>
</form>
<br>
<% if (messages.success) { %>
    <p><%= messages.success %></p>
<% } %>
<% members.forEach(member => { %>
    <div class="member-item" style="display: flex; align-items: center;">
        <h3><%= member.name %></h3>
        <ul style="display: flex; list-style: none; align-items: center;">
            <li>
                <a href="/user/members/<%= member._id %>" class="btn">View</a>
            </li>
            <li>
                <a href="/user/members/edit/<%= member._id %>" class="btn">Edit</a>
            </li>
            <li>
                <form action="/user/members/delete/<%= member._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this member?')">Delete</button>
                </form>
            </li>
        </ul>
    </div>
<% }) %>