<a href="/user/members" class="text-blue-500 hover:text-blue-700 mr-3">&larr; back to all members</a>

<% if (messages.success) { %>
    <p style="color: green"><%= messages.success %></p>
<% } %>
<% if (messages.error) { %>
    <p style="color: red"><%= messages.error %></p>
<% } %>

<div class="mt-5 flex items-center justify-between py-3 px-4 max-w-xl bg-sky-200 rounded-lg border border-black ">
    <ion-icon name="person-outline" class="text-6xl block border-4 border-black rounded-full p-4"></ion-icon>
    
    <div class="">
        <h1 class="text-3xl"><%= member.name %></h1>
    
        <p><%= member.email %></p>
    </div>
    
    <div class="flex items-center">
            <a href="/user/members/edit/<%= member._id %>" class="px-2 bg-sky-200 rounded-md border border-black hover:bg-sky-400 transition-all ease-in mr-2">Edit</a>

            <form action="/user/members/delete/<%= member._id %>?_method=DELETE" method="post">
                <button type="submit" class="px-2 bg-red-400 rounded-md border border-black hover:bg-red-600 transition-all ease-in" onclick="return confirm('Are you sure want to delete this member?')">Delete</button>
            </form>
    </div>
</div>