<a href="/user/authors" class="text-blue-500 hover:text-blue-700 mr-3">&larr; back to all authors listing</a>

<% if (error.length > 0) { %>
    <p style="color: red;"><%= error[0] %></p>
<% } %>

<div class="w-full bg-sky-200 px-2 mb-2 py-1 max-w-lg rounded-md border border-black flex items-center justify-between mt-3">
    <ion-icon name="person-circle-outline" class="text-4xl"></ion-icon>

    <h3 class="text-xl mr-2"><%= author.name %></h3>
        
    <div class="flex items-center *:mr-1">
        <a href="/user/authors/<%= author._id %>/edit" class="px-2 bg-blue-300 rounded-md border border-black hover:bg-blue-400 transition-all ease-in">Edit</a>

        <form action="/user/authors/<%= author._id %>?_method=DELETE" method="post">
            <button type="submit" class="px-2 bg-red-400 rounded-md border border-black hover:bg-red-500 transition-all ease-in" onclick="return confirm('Are you sure want to delete this member?')">Delete</button>
        </form>
    </div>
</div>

<h3 class="text-xl mt-4"><%= author.name %>'s books listing</h3>

<div class="flex items-center flex-wrap *:mr-2">
    <% books.forEach(book => { %>
        <a href="/user/books/<%= book._id %>">
            <img src="<%= book.coverImageRender %>" class="h-52">
        </a>
    <% }) %>
</div>